# This is to indicate the registry for lerna when publishing the packages
@ses-education:registry=https://registry.npmjs.org/

# use this if there is an NPM token
# registry.npmjs.org/:_authToken=<YOUR_NPM_TOKEN>
